---
import Layout from "@layouts/Layout.astro";
import {appRoutes} from "src/utils/utils.js";
import QueryProvider from "@components/QueryProvider.jsx";
import FetchByCategory from "@components/products/FetchByCategory.jsx";

export async function getStaticPaths(){
  return appRoutes.map((route) => ({
    params: {category: route.category},
    props: {title: route.title, icon: route.icon, category: route.category}
  }))
}

const {title, icon, category} = Astro.props;

---
<Layout title={title} transition:fade>
  <section class="container mx-auto flex my-6">
    <div class="flex gap-2 select-none" transition:name={category}>
        <img src={icon} class="w-10" alt={title}/>
        <h1 class="py-2  text-gray-500 font-bold">{title}</h1>
    </div>
  </section>
  <section class="container mx-auto">
    
      <FetchByCategory category={title} client:load/>
    
  </section>
</Layout>