---
import controller from "@assets/controller.svg";
import monitor from "@assets/monitor.svg";
import phone from "@assets/phone.svg";
import watch from "@assets/watch.svg";
import femaleClothes from "@assets/female-clothes.svg";
import maleClothes from "@assets/male-clothes.svg";
import babyStuff from "@assets/baby.svg";
import moto from "@assets/moto.svg";

const images = [
 {src: controller.src, category: "Videojuegos y consolas", param: "Videojuegos_y_consolas"},
 {src: monitor.src, category: "Computacion", param: "Computacion"},
 {src: phone.src, category: "Telefonos y accesorios", param: "Telefonos_y_accesorios"},
 {src: watch.src, category: "Accesorios y Miscelaneos", param: "Accesorios_y_Miscelaneos"},
 {src: femaleClothes.src, category: "Ropa para damas", param: "Ropa_para_damas"},
 {src: maleClothes.src, category: "Ropa para caballeros", param: "Ropa_para_caballeros"},
 {src: babyStuff.src, category: "Todo para tu bebe", param: "Todo_para_tu_bebe"},
 {src: moto.src, category: "Accesorios de moto y bicicleta", param: "Accesorios_de_moto_y_bicicleta"},
]
---
<section class="">
  <article class="flex flex-wrap gap-5 mx-4 justify-center
  ">
    {images.map((image, i) => (
      <a class="flex--center flex flex-col gap-1 w-[45%] text-center cursor-pointer rounded-md shadow-around bg-[#e7e7e7] select-none px-2 border border-black/20
      md:w-[30%] lg:max-w-[200px] lg:aspect-square
        hover:bg-gray-300 active:bg-gray-300 transition-colors duration-200
        " href={`categorias/${image.param}`} transition:name={image.param}>
        <img src={image.src} class="w-16 md:w-24 lg:w-32" alt={image.category} />
        <h1 class="py-2 text-gray-500 font-bold">{image.category}</h1>
      </a>
    ))}
  </article>
</section>